@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');



body {

	font-size: 1em;
}



.main {
	background-color: #dad7eb;
	margin: 10px;
	padding: 40px;
	border-radius: 7px;
}


h1 {
	color: dimgray;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	text-shadow: 0 0 1px black;

}


.brain-list {
	font-size: 30px;
	color: dimgray;
	display: inline-block;

}



.fontello {
	font-size: 50px;
	color: black;
}


.fontelloCard {
	font-size: 40px;
	color: black;
}



.contactIcons {
	width: 80px;
	hight: 80px;
	background-color: #dad7eb;
	color: #000;
	font-size: 3.0em;
	border: 1px solid black;
	border-radius: 10px;

	text-align: center;
	position: relative;
	line-height: 80px;
	transition: all 0.5s ease;

}

.contactIcons:hover {
	transform: rotate(360deg);
	border-radius: 100px;
}

ul {
	line-height: 40px;
	d-flex;
	justify-content: space-between;
}

.page-footer ul {
	line-height: 10px;
}


.fa-angle-down {
	animation: arrow 1.4s infinite linear;
}



.photo {
	width: 300px;
	height: 400px;
	overflow: hidden;
/*	object-fit: cover;*/

}

.photo img {
	transition: all 0.5s ease-in-out;
}

.photo:hover img {
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}

/*blinking warning  :)*/
.display-3 {
	animation-duration: 2500ms;
	animation-name: blink;
	animation-iteration-count: infinite;
}

@keyframes blink 
{
	from

{
	opacity: 1;
}
	to
{
opacity: 0;
	}
}



	.sizeVer {
		width: 100px;
		height: 200px;
		object-fit: cover;	

	}

/* gallery - illusion*/


	.container.gallery-container {
		color: #35373a;
		min-height: 100vh;
		padding: 10px 10px;
	}

	.gallery-container h1 {
		text-align: center;
		margin-top: 80px;
		font-weight: bold;
	}

	.gallery-container p.page-description {
		text-align: center;
		margin: 25px auto;
		font-size: 18px;
		color: #999;
	}

	.tz-gallery {
		padding: 40px;
	}

	.tz-gallery .row>div {
		padding: 2px;
	}

	.tz-gallery .lightbox img {
		width: 100%;
		border-radius: 0;
		position: relative;
	}

	.tz-gallery .lightbox:before {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -13px;
		margin-left: -13px;
		opacity: 0;
		color: #fff;
		font-size: 26px;
		font-family: "fontello";
		content: '\e851'; 
		pointer-events: none;
		z-index: 9000;
		transition: 0.4s;
	}


	.tz-gallery .lightbox:after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-color: rgba(0, 0, 0, 0.5);
		content: '';
		transition: 0.4s;
	}

	.tz-gallery .lightbox:hover:after,
	.tz-gallery .lightbox:hover:before {
		opacity: 1;
	}

	.baguetteBox-button {
		background-color: transparent !important;
	}



	@media(max-width: 768px) {
		body {
			padding: 0;
		}
	}
/* end illusion*/



.scrollup {
  width: 64px;
  height: 64px;
  text-decoration: none;
  background: url('../img/up.png') no-repeat;
  position: fixed;
  right: 0px;
  bottom: 10px;
	overflow: hidden;

}



@media(max-width: 600px) {
	.carousel {
		display: none;
	}
}


@media(max-width: 500px) {
	#mistrzpamieci {
		
		font-size: 16px;}		
	
		

		.photo {
width: 100%;
hight: auto;
display: block;
justify-content: center;
		}
	
		
/*

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}*/
